<aside id="column-right" class="col-3 d-none d-md-block">
    <div class="list-group mb-3">
      <%= link_to "Đăng nhập", home_login_path, class: "list-group-item" %>
      <%= link_to "Đăng ký", home_register_path, class: "list-group-item" %>
      <%= link_to "Đã quên mật khẩu", new_password_path, class: "list-group-item" %>
      <%= link_to "Tài khoản của tôi", home_login_path, class: "list-group-item" %>
      <%= link_to "Lịch sử đơn hàng", home_login_path, class: "list-group-item" %>
    </div>
  </aside>
  