<!DOCTYPE html>
<html dir="ltr" lang="vi">

<head>
  <%= render 'layouts/frontend/head' %>
</head>

<body>
  <%= render 'layouts/frontend/nav' %>
  <%= render 'layouts/frontend/header' %>
  <%= render 'layouts/frontend/main' %>
  <%= yield %>
  <%= render 'layouts/frontend/footer' %>
  <%= render 'layouts/frontend/metu' %>

  <script src="/assets/frontend/js/index/script9.js"></script>
  <script src="/assets/frontend/js/index/script10.js"></script>
  <script src="/assets/frontend/js/index/script11.js"></script>
  <script src="/assets/frontend/js/index/script12.js"></script>
  <script src="/assets/frontend/js/index/script13.js"></script>
</body>

</html>
