<aside id="column-right" class="col-3 d-none d-md-block">
    <div class="list-group mb-3">
      <%= link_to "Tài khoản của tôi", account_index_path, class: "list-group-item" %>
      <%= link_to "Chỉnh sửa tài khoản", account_edit_path, class: "list-group-item" %>
      <%= link_to "Mật khẩu", account_password_path, class: "list-group-item" %>
      <%= link_to "Lịch sử đơn hàng", "#", class: "list-group-item" %>
      <%= link_to "Đăng xuất", account_logout_path, class: "list-group-item" %>
    </div>
  </aside>
  