<%= content_for :title, "Password" %>
<main>
    <div id="account-password" class="container">
        <%= render 'account/breadcrumb' %>
        <%= render 'layouts/frontend/alert' %>
      <div class="row">
        <div id="content" class="col">
          <h1>Đổi mật khẩu</h1>
          <%= form_with model: @user, url: account_password_update_path, method: :post, local: true, id: "form-password" do |f| %>
            <fieldset>
              <legend>Mật khẩu của bạn</legend>
              <div class="row mb-3 required">
                <%= f.label :password, "Mật khẩu", class: "col-md-3 col-form-label" %>
                <div class="col-md-9">
                  <%= f.password_field :password, placeholder: "Mật khẩu", class: "form-control", id: "input-password", autocomplete: "new-password", required: true %>
                  <div id="error-password" class="invalid-feedback"></div>
                </div>
              </div>
              <div class="row mb-3 required">
                <%= f.label :password_confirmation, "Xác nhận mật khẩu", class: "col-md-3 col-form-label" %>
                <div class="col-md-9">
                  <%= f.password_field :password_confirmation, placeholder: "Xác nhận mật khẩu", class: "form-control", id: "input-confirm" %>
                  <div id="error-confirm" class="invalid-feedback"></div>
                </div>
              </div>
            </fieldset>
            <div class="d-inline-block pt-2 pd-2 w-100">
              <div class="float-start">
                <%= link_to "Quay lại", account_index_path, class: "btn btn-light" %>
              </div>
              <div class="float-end">
                <%= f.submit "Tiếp tục", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
        <%= render 'account/aside' %>
      </div>
    </div>
  </main>